

<header>

     报 名

    <div class="header-right">
        <button class="btn btn-default btn-lg " ng-show="show3" > 开 始 </button>
        <button class="btn btn-default btn-lg " ng-show="show4" > 结 束 </button>
    </div>
    <div class="header-left">

        <button class="btn btn-default btn-lg"  ng-click="go_backing()">返回</button>
    </div>


</header>


<div id="wrapper" class="wrapper scrollable">
    <ul class="list-style-2">
        <li ng-repeat="message in list2">

            <button class=" btn-style btn-3">
                .header-left
                <h3>{{message.name}}</h3>
                .header-fight
                <h3>{{message.phone}}</h3>
            </button>

        </li>
    </ul>
</div>



<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li class="active"><a href=""><i ></i><br />报名</a></li>
        <li><a href=""><i ></i><br />竞价</a></li>
    </ul>
</footer>