header
      竞价活动
      .header-left
         button.btn.btn-default.btn-lg(ng-click="back()") 返 回

      .header-right
         button.btn.btn-default.btn-lg(ng-click="move()")(ng-disabled="dian") 开 始

div#wrapper.wrapper.scrollable
       ul.list-style-2
           li(class="{{shus.color}}")(ng-repeat="shus in list2")
                a(ng-click="next()")
                    h3{{shus.shus}}
