header
      {{title}}（{{number}}人）


      .header-left
         button.btn.btn-default.btn-lg(ng-click="back()") 返 回


div#wrapper(class="wrapper scrollable")
    ul(class="list-style-2")
        li(ng-repeat="messages in middle track by $index")
            h3 {{messages.name}}：{{messages.phone}}
            h3.header-right￥{{messages.price}}

footer

    ul(class="list-style-2" style="margin-bottom: 50px;")竞价结果：{{winner_name}}    {{winner_price}}    {{winner_phone}}    竞价成功！


footer
    ul.footer-nav.footer-nav-2tabs
        li
                a(href='#/result')
                     竞价结果
        li.active
                a(href='#/fenxi')
                     价格统计


.modal.fade#ModalSuccess(style="display: block;height: 172px;margin-right: -10;")
   .modal-dialog
        .modal-content
          .modal-header
          .a(class="close" data-dismiss="modal" ) &times
            .h4.modal-title
          .modal-body
          .center(style="padding-left: 230px;")
                {{winner_name}}    ￥{{winner_price}}    竞价成功
          .modal-footer
